 .gameBoard {
    background: grey;
    height: 300px;
    width: 100%;
    position: absolute;
 }

 .card {
    background: orange;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: auto 0;
    position: relative;
    transition: all 0.5s;
 }
