#game{
  border:1px solid black;
}
.card{
  display:inline-block;
  width:100px;
  height:150px;
  margin:1em;
  position:relative;
  perspective:500px;
}
.face{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  backface-visibility:hidden;
  transition:all .3s ease-in-out;
}

.card:hover .back.face{
  transform:rotateY(-30deg);
}
.card:hover .face{
  transform:rotateY(150deg);
}


.card.show  .back.face{
  transform:rotateY(-180deg);
}
.card.show  .front.face{
  transform:rotate(0deg);
}


.back.face{
  background:darkblue;
}
.front.face{
  transform:rotateY(180deg);
}
.back.face{
  transform:rotateY(0deg);
}

.card[data-card=A] .front.face{
  background:yellow;
}
.card[data-card=A] .front.face:after{
  content:"A";
}
.card[data-card=B] .front.face{
  background:lightgreen;
}
.card[data-card=B] .front.face:after{
  content:"B";
}
.card[data-card=C] .front.face{
  background:lightblue;
}
.card[data-card=C] .front.face:after{
  content:"C";
}

#tem{
  display:none;
}
